.*.swp
._*
.DS_Store
.git
.hg
.idea
.npmrc
.vscode
.github
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.tgz

# Repo related
.all-contributorsrc
.dockerignore
.editorconfig
.whitesource
renovate.json

# Custom
*.ps1
coverage
src
src/**/*
screenshots/**/*
test/**/*
test
.github
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.log
**/*.zip

!dist/**/*
!*.md
!package.json
!yarn.lock
!.yarn
!tsconfig.json
